annotated-doc==0.0.4 ; python_version >= "3.13"
annotated-types==0.7.0 ; python_version >= "3.13"
anyio==4.12.1 ; python_version >= "3.13"
attrs==25.4.0 ; python_version >= "3.13"
certifi==2026.1.4 ; python_version >= "3.13"
cffi==2.0.0 ; python_version >= "3.13" and platform_python_implementation != "PyPy"
charset-normalizer==3.4.4 ; python_version >= "3.13"
click==8.3.1 ; python_version >= "3.13"
colorama==0.4.6 ; (platform_system == "Windows" or sys_platform == "win32") and python_version >= "3.13"
cryptography==46.0.5 ; python_version >= "3.13"
dnspython==2.8.0 ; python_version >= "3.13"
email-validator==2.3.0 ; python_version >= "3.13"
fastapi-cli==0.0.20 ; python_version >= "3.13"
fastapi-cloud-cli==0.11.0 ; python_version >= "3.13"
fastapi==0.124.4 ; python_version >= "3.13"
fastar==0.8.0 ; python_version >= "3.13"
google-api-core==2.29.0 ; python_version >= "3.13"
google-auth==2.47.0 ; python_version >= "3.13"
google-cloud-secret-manager==2.26.0 ; python_version >= "3.13"
googleapis-common-protos==1.72.0 ; python_version >= "3.13"
greenlet==3.3.0 ; python_version >= "3.13" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32")
grpc-google-iam-v1==0.14.3 ; python_version >= "3.13"
grpcio-status==1.76.0 ; python_version >= "3.13"
grpcio==1.76.0 ; python_version >= "3.13"
h11==0.16.0 ; python_version >= "3.13"
httpcore==1.0.9 ; python_version >= "3.13"
httptools==0.7.1 ; python_version >= "3.13"
httpx-sse==0.4.3 ; python_version >= "3.13"
httpx==0.28.1 ; python_version >= "3.13"
idna==3.11 ; python_version >= "3.13"
jinja2==3.1.6 ; python_version >= "3.13"
jsonschema-specifications==2025.9.1 ; python_version >= "3.13"
jsonschema==4.26.0 ; python_version >= "3.13"
markdown-it-py==4.0.0 ; python_version >= "3.13"
markupsafe==3.0.3 ; python_version >= "3.13"
mcp==1.26.0 ; python_version >= "3.13"
mdurl==0.1.2 ; python_version >= "3.13"
proto-plus==1.27.0 ; python_version >= "3.13"
protobuf==6.33.4 ; python_version >= "3.13"
psycopg2-binary==2.9.11 ; python_version >= "3.13"
pyasn1-modules==0.4.2 ; python_version >= "3.13"
pyasn1==0.6.2 ; python_version >= "3.13"
pycparser==3.0 ; platform_python_implementation != "PyPy" and implementation_name != "PyPy" and python_version >= "3.13"
pydantic-core==2.41.5 ; python_version >= "3.13"
pydantic-settings==2.13.1 ; python_version >= "3.13"
pydantic==2.12.5 ; python_version >= "3.13"
pygments==2.19.2 ; python_version >= "3.13"
pyjwt==2.11.0 ; python_version >= "3.13"
python-dotenv==1.2.1 ; python_version >= "3.13"
python-multipart==0.0.21 ; python_version >= "3.13"
pywin32==311 ; python_version >= "3.13" and sys_platform == "win32"
pyyaml==6.0.3 ; python_version >= "3.13"
referencing==0.37.0 ; python_version >= "3.13"
requests==2.32.5 ; python_version >= "3.13"
rich-toolkit==0.17.1 ; python_version >= "3.13"
rich==14.2.0 ; python_version >= "3.13"
rignore==0.7.6 ; python_version >= "3.13"
rpds-py==0.30.0 ; python_version >= "3.13"
rsa==4.2 ; python_version >= "3.14"
rsa==4.9.1 ; python_version == "3.13"
sentry-sdk==2.49.0 ; python_version >= "3.13"
shellingham==1.5.4 ; python_version >= "3.13"
sqlalchemy==2.0.45 ; python_version >= "3.13"
sse-starlette==3.2.0 ; python_version >= "3.13"
starlette==0.50.0 ; python_version >= "3.13"
typer==0.21.1 ; python_version >= "3.13"
typing-extensions==4.15.0 ; python_version >= "3.13"
typing-inspection==0.4.2 ; python_version >= "3.13"
urllib3==2.6.3 ; python_version >= "3.13"
uvicorn==0.40.0 ; python_version >= "3.13"
uvloop==0.22.1 ; sys_platform != "win32" and sys_platform != "cygwin" and platform_python_implementation != "PyPy" and python_version >= "3.13"
watchfiles==1.1.1 ; python_version >= "3.13"
websockets==16.0 ; python_version >= "3.13"
